.star-wars {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: var(--yellow);
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 8vw;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;

    .fade {
        position: relative;
        width: 100%;
        min-height: 60vh;
        top: -25px;
        background-image: linear-gradient(0deg, transparent, var(--dark) 75%);
        z-index: 1;
    }

    .crawl {
        position: relative;
        top: 99999px;
        transform-origin: 50% 100%;
        animation: crawl 60s linear;

        .title {
            font-size: 90%;
            text-align: center;

            h1 {
                margin: 0 0 100px;
                text-transform: uppercase;
            }
        }
    }

    .bg-yellow {
        color: black;
        background-color: #feda4a;
    }
}

/* Button */
// .skip-button {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     bottom: 10px;
//     left: 38vw;
//     position: fixed;
//     margin: auto;
// }

// .btn-big {
//     width: 358px;
//     height: 85px;
//     border-radius: 100px;
//     border: none;
//     font-size: large;
//     font-weight: bold;
// }

@keyframes crawl {
    0% {
        top: -100px;
        transform: rotateX(20deg) translateZ(0);
    }

    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
