@import "../../app.scss";

.card-character {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--yellow);
    background-color: var(--dark);

    .bg-character {
        width: 100vw;
        height: 50vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .character-stats{
        text-align: center;

        h1{
            font-size: 3rem;
        }
        h2{
            font-size: 1.5rem;
        }
    }

    .char-fade {
        width: 100vw;
        height: 50px;
        position: relative;
        top: -50px;
        background: linear-gradient(rgba(0, 0, 0, 0), var(--dark));
    }

    .item-content {
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .movie-wrapper {
        display: flex;
        position: relative;
        width: 100%;
        overflow-x: scroll;
        // cursor: move;
        .movie-card {
            margin: 15px auto;
        }
    }
}
