.card-character {
    width: 100vw;
    display: flex;
    flex-direction: column;

    .bg-character {
        width: 100vw;
        height: 50vh;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .fade {
        width: 100vw;
        height: 50px;
        position: relative;
        background-color: #000;
        top: -50px;
        background: linear-gradient(rgba(0, 0, 0, 0), #91c5ea);
    }
    .item-content {
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .movie-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: calc(375px + 120px);
        background-color: blue;
        overflow-x: scroll;
        overflow-y: hidden;

        .movie-card {
            padding: 10px;
        }
    }
}
