.card-character {
    width: 100vw;
    display: flex;
    flex-direction: column;

    .bg-character {
        width: 100vw;
        height: 350px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        &::before {
            content: "";
            width: 100%;
            height: 50px;
            top: 300px;
            position: absolute;
            background: linear-gradient(rgba(0, 0, 0, 0), #91c5ea);
        }
    }
    .item-content {
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .movie-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: calc(375px + 120px);
        background-color: blue;
        overflow-x: scroll;
        overflow-y: hidden;

        .movie-card {
            padding: 10px;
        }
    }
}
