.button {
    width: 200px;
    height: 60px;
    
    border: none;
    background-color: var(--yellow);
    border-radius: 100px;
    position: relative;
    top: -100px;
    
    .btn-svg {
        padding: 10px;
        width: 90%;
    }
}
