.film {
    width: 250px;
    text-align: center;

    .banner{
        height: 350px;
        position: relative;
    }

    img {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .text,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-transform: capitalize;
    }
}
