.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: var(--dark);
    overflow: hidden;

    .content {
        justify-content: center;
        align-items: center;
        width: 100%;

        button {
            position: absolute;
            right: 0;
            padding: 20px;
            align-items: flex-end;
            font-size: 20px;
            text-decoration: underline;
            color: var(--yellow);
            background-color: transparent;
            border: transparent;
        }
    }
}
