@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Roboto:wght@400;500;700&display=swap');

:root {
  // colors
  --white: #fff;
  --dark: #000;
  --yellow: #feda4a;

  // Element rotation

  --el-with: 383px;
  --el-height: 567px;
  --el-depth: 60px;
  --half-rotate: 35deg;
  --half-medium: 90deg;
  --full-rotate: 180deg;

  // font-size
  --font-light: 100;
  --font-medium: 400;
  --font-bold: 900;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
