@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background: #f7f7f7;
  color: #17f; */
  font-family: "Roboto", sans-serif;
}
.app {
  /* margin: 3em;
  width: 24em; */
}
