:root {
 
}

.book-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    margin: 100px auto;

    .book {
        position: relative;
        width: var(--el-with);
        height: var(--el-height);
        box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
        transform-style: preserve-3d;
        background-image: url("../assets/cover.jpg");
        background-size: cover;
        transition: 0.5s;
        transform: scale3d(0.5, 0.5, 0.1);
        &:hover {
            transform: rotateY(var(--half-rotate));
            box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
        }

        &::before {
            content: "";
            position: absolute;
            width: var(--el-depth);
            height: 100%;
            transform-origin: left;
            background: url("../assets/side.jpg");
            background-size: cover;
            background-position: center;
            transform: rotateY(var(--half-medium));
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
        }
    }
}

/* text congiguration */

.description {
    width: 300px;
    margin-left: 50px;

    p {
        font-weight: var(--font-light);
        text-align: initial;
    }

    h3 {
        font-weight: var(--font-bold);
        font-size: 2rem;
    }

    h4 {
        font-weight: var(--font-medium);
        margin: 25px auto;
    }
}

/* Button */

// .button {
//     display: flex;
//     margin: auto;
//     border: none;
//     border-radius: 20px;
//     width: 130px;
//     padding: 10px;
//     justify-content: center;
//     font-weight: var(--font-bold);
//     background-color: var(--yellow-button);
//     margin-top: 10px;
//     &:active {
//         transform: scale3d(0.9, 0.9, 1);
//     }
// }

/* Break line */

@media screen and (max-width: 700px) {
    body {
        overflow-x: hidden;
    }
    .book-wrapper {
        flex-direction: column;
    }
    .description {
        margin-top: 30px;
    }
}
