.movie-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: calc(375px + 120px);
    background-color: blue;
    overflow-x: scroll;
    overflow-y: hidden;
}
.movie-wrapper > * {
    padding: 10px;
}
